* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Times New Roman";
    background-image: url("estrellas.png"); 
    background-size: cover; 
    background-attachment: fixed; 
    color: white; 
    
}


nav ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    display: flex;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3); 
}


main {
    text-align: left;
    padding: 100px 20px;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.GaleriaDeImagenes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}
.GaleriaDeImagenes img {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s;
}
.GaleriaDeImagenes img:hover {
    transform: scale(1.1);
}

.GaleriaDeImagenes img {
    filter: grayscale(50%);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
.GaleriaDeImagenes img:hover {
    filter: grayscale(0%);
    transform: scale(1.1) rotate(2deg);
}

